body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0;
}

.container {
    /* background-color: aqua; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

#innerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #007bff; */
    width: 300px;
    height: 300px;
    border: 2px solid red;
   
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button i{
    margin-left: 5px;
}
button:hover {
    background-color: #000000;
}

.dark{
    background-color: #000000;
    color: white;
}

.dark button:hover{
    background-color:white;
    color: #000000;
}

.dark #innerDiv {
    box-shadow: 0px 0px 10px 0px red;
}

  
  /* For the moon icon */
 
  fas fa-moon{
    color: red;
  }
